[submodule "simint-generator"]
	path = simint-generator
	url = git@github.com:simint-chem/simint-generator.git
[submodule "libcint"]
	path = libcint
	url = git@github.com:Awallace3/libcint.git
	branch = cmake
[submodule "GTMatrix"]
	path = GTMatrix
	url = git@github.com:Awallace3/GTMatrix.git
	branch = cmake
[submodule "GTFock"]
	path = GTFock
	url = git@github.com:Awallace3/GTFock.git
	branch = cmake
[submodule "OptErd_Makefile"]
	path = OptErd_Makefile
	url = git@github.com:Awallace3/OptErd_Makefile.git
